<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->


<head th:replace="fragments::head">

</head>


<body>
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<!--
<div th:replace="fragments::slider">
</div>
-->
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Intro.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top"><span>Профессионалам и начинающим фигуристам всей России</span></h2>
                <p>Компания была основана группой энтузиастов и любителей фигурного катания, ставящих своей целью изучение наиболее передовых технологий в области коньков и лезвий для фигурного катания.</p>
                <p>Наша цель – постоянное изучение наиболее передовых технологий в области изготовления ботинок и коньков с последующим представлением на российский рынок самых новаторских решений в этой области, позволяющих добиться оптимального комфорта в катании, не жертвуя техническими показателями. Благодаря тому, что мы работаем напрямую с производителями, а наши специалисты находятся с ними в постоянном контакте и проходят регулярное обучение, мы имеем возможность предлагать квалифицированные консультации и товары по доступным ценам.</p>
                <p>Фигурное катание в России в последние годы становится все более популярным видом не только спорта, но и времяпрепровождения, способом вести здоровый и активный образ жизни. Во многих городах, и не только миллионниках, строятся и открываются один за другим катки. Проблема лишь в том, где купить коньки, чтобы они соответствовали не только размеру ноги, но и уровню фигуриста, учитывали его индивидуальные особенности, были подобраны с должным вниманием и профессиональным взглядом со стороны.</p>
                <p>И эта проблема решена, благодаря сотрудникам нашей компании, держащим руку на пульсе и постоянно совершенствующим свои знания в этой области, а также возможности доставки наших товаров до вас, в какой точке страны вы бы ни находились.</p>
                <p>Обратившись к нам, вы получаете:</p>
                <p>- Профессиональные рекомендации</p>
                <p>- Грамотный подбор ботинок с учетом ваших особенностей и пожеланий</p>
                <p>- Подбор лезвий от ведущих производителей</p>
                <p>- Индивидуальный пошив одежды для фигурного катания и прочие сопутствующие услуги и аксессуары</p>
                <p>Удивлены, как вы получите все это без личного присутствия в нашем офисе? Профессиональным консультантам нашей компании достаточно получить ряд ответов на определенные вопросы для того, чтобы точно понять, какое решение необходимо именно Вам. Профессионалы и любители фигурного катания Казани, Екатеринбурга, Сахалина, Москвы и других городов России уже убедились в этом!</p>
                <p>Получите профессиональный подбор коньков и аксессуаров для фигурного катания с доставкой к вашему дому в любой город России прямо сейчас!</p>
                <!-- <a class="btn hvr-hover" href="#">Read More</a> -->
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Нам доверяют</h3>
                    <p>Наш магазин выбирают такие великие фигуристы как Анна Щербакова, Камила Валиева, Александра Трусова, Евгения Медведева, Алина Загитова, Елизавета туктамышева и многие другие</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>МЫ ПРОФЕССИОНАЛЫ</h3>
                    <p>На протяжении 20 лет изучаем передовые технологии, чтобы предоставить наиболее легкую, удобную и  качественную продукцию</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Гарантия качества</h3>
                    <p>Вся продукция сертифицирована и предоставляется Вам с официальными гарантиями. Вы всегда сможете вернуть покупку, если вас что-то не устроит. Мы гарантируем это, потому, что такие случаи единичны.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>